{% extends "app/base.html" %}
{% block title %} {{page}} {% endblock %}
{% load static %}
{% block content %}

<!-- Page Content -->
<div class="container">

<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">
  <small>Valores</small>
</h1>

<!-- Project One -->
<div class="row">
  <div class="col-md-7">
    
      <img class="img-fluid rounded mb-3 mb-md-0" src="{{ tour.image.url }}" alt="">
    </a>
  </div>
  <div class="col-md-5">
    <h4> {{ tour.title }} </h4> 
    <hr>
    <h5>{{ tour.price }}</h5>
    <hr>
    <textarea rows="10" cols="120" class="form-control" id="message" maxlength="999" readonly="readonly"
     style="resize:none">{{ tour.content }}</textarea> 
     <p></p>
    <a class="btn btn-primary" href="{% url 'app:contato' %}">Compre a sua passagem
      
    </a>
  </div>
</div>
<!-- /.row -->
<hr>
</div>
{% endblock %}